:root {
  font-size: calc(0.5vw + 1vh);
  /* variables */
  --color-primary: hsl(136, 50%, 70%);
  --color-primary-light: hsl(74, 100%, 89%);
  --color-hightlight: rgb(255, 255, 255);
  --color-black: rgb(30, 30, 30);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
}

#grid-container {
  display: grid;
  grid-template-columns: 10% 90%; /* 20% for the menu, 80% for the main content */
  grid-template-rows: 10% 90%; /* 20% for the top row, 80% for the bottom row */
  grid-template-areas:
      "navbar main"
      "navbar main"; /* Repeat to match the rows */
}

main {
  grid-area: main !important;
  .main-content {
    flex: 1; /* Allow the content to grow and take up available space */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    max-height: 100%; /* Enforce a maximum height for the content */
  }
  
}

.navbar {
  grid-area: navbar !important;
  background: var(--color-primary);
}

h1,
h4 {
  line-height: 1.3;
}

span {
  font-size: 3rem;
}

a,
a:link,
a:active,
a:visited {
  color: var(--color-primary-black);
  text-decoration: none;
}

a:hover {
  color: var(--color-hightlight);
  border-bottom: var(--color-hightlight) 0.16rem solid;
}

.add-quiz-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 5.3rem;
  margin: 5rem auto;
  background: var(--color-primary);
  border: var(--color-primary-light) 0.2rem solid;
  border-radius: 0rem;
  padding: 0.4rem;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
}

.column {
  min-width: 8.4rem;
  margin: 0 0.6rem;
  background: var(--color-primary);
  border: var(--color-primary-light) 0.2rem solid;
  border-radius: 0.2rem;
}

.column-header {
  padding: 0.1rem;
  border-bottom: var(--color-primary-light) 0.2rem solid;
}

.column-header h4 {
  text-align: center;
}

.to-do-column .column-header {
  background: var(--color-primary);
}

/* .doing-column .column-header {
  background: #13a4d9;
}

.done-column .column-header {
  background: #15d072;
}

.trash-column .column-header {
  background: #ff4444;
} */

.quiz-list {
  min-height: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.button {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: var(--color-primary-light) 0.14rem solid;
  border-radius: 0.6rem;
  color: var(--color-primary-black);
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.addquiz-button {
  background-color: var(--color-primary-dark);
  margin: 0.1rem auto 0.6rem auto;
}

.addquiz-button:hover {
  background-color: var(--color-hightlight);
}

.addcategory-button {
  background-color: var(--color-primary-dark);
  padding: 0 1rem;
  height: 2.8rem;
  width: 10rem;
  margin-top: 0.6rem;
}

.addcategory-button:hover {
  background-color: var(--color-hightlight);
}

.quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.4rem;
  height: 4rem;
  border: var(--color-black) 0.15rem solid;
  border-radius: 0.2rem;
  cursor: move;
  text-align: center;
  vertical-align: middle;
}

#quizText {
  background: #fff;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
  width: 7rem;
  margin: auto 0.8rem auto 0.1rem;
}

.quiz p {
  margin: auto;
}

/* Dragula styles */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}