:root {
  font-size: calc(0.5vw + 1vh);
  /* variables */
  --color-primary: hsl(119, 46%, 58%);
  --color-hightlight: hsl(119, 46%, 62%);
  --color-secondary: hsl(264, 32%, 70%);
  --color-light: hsl(145, 32%, 75%);
  --color-black: rgb(30, 30, 30);
  --color-white: rgb(255, 255, 255);
  --color-grey: #444;
  --shadow-primary: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  --border-thickness-primary: 0.4rem;
  --border-thickness-secondary: 0.2rem;
  --padding-primary: 0.4rem;
  --margin-primary: 0.4rem;
  --border-radius-primary: 2rem;
}

* {
  font-family: 'Lato', sans-serif;
  user-select: none;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
    text-align: center;
}
h4 {
  text-align: center;
  font-size: 1rem;
}

a,
a:link,
a:active,
a:visited {
  color: var(--color-primary-black);
  text-decoration: none;
}

a:hover {
  scale: 1.1;
}

/* .doing-column .column-header {
  background: #13a4d9;
}

.done-column .column-header {
  background: #15d072;
}

.trash-column .column-header {
  background: #ff4444;
} */

input, textarea {
  height: 1rem;
  width: 11vw;
  margin: var(--margin-primary);
  border-radius: var(--border-radius-primary);
  padding: var(--padding-primary);
  box-shadow: var(--shadow-primary);
  border: none;
}
textarea {
  width: 40rem;
  height: 5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font-weight: 700;
  border: none;
  box-shadow: var(--shadow-primary);
  color: var(--color-black);
  padding: var(--margin-primary);
  margin-bottom: var(--margin-primary);
  background-color: var(--color-primary);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-hightlight);
}

/* Dragula styles */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 100 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
